<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger</title>
	</head>
	<body>
	<center>
				<h1>Eat-Da-Burger!</h1>
				<img src="/assets/img/burger01.png">
				<div>
				<p>This is the Header Content</p>
				<img src="/assets/img/burger02.png">
				</div>
				

		{{{ body }}}


				
				<div>
				<p>This is the Footer Content</p>
				</div>
				<img src="/assets/img/burger04.png">
				
	</center>
				
	

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</body>
</HTML>
