<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="icon" type="image/x-icon"
 href="/assets/img/favicon.ico" />
		<title>Eat-Da-Burger</title>
	</head>
	<body>
	<center>
				<h1>Eat-Da-Burger!</h1>
				<img src="/assets/img/burger01.png">
				<div>
				<p>This is the Header Content</p>
				<img src="/assets/img/burger02.png">
				</div>
				

		{{{ body }}}


				
				
				<img src="/assets/img/burger04.png">
				
	</center>
				
	

  

	</body>
</HTML>
